{% extends 'base.html.twig' %}
{% block body %}

<section class="hero-bg d-flex align-items-center text-center text-white">
  <div class="container position-relative">
    <h1 class="display-5 fw-bold mb-3">Une mode pudique, moderne.</h1>
    <p class="lead mb-4">Des pièces sobres, pensées pour durer.</p>
    <a href="#" class="btn btn-light btn-lg rounded-0 px-4">Découvrir</a>
  </div>
</section>


<div class="container mt-5">
    <div class="row g-4">
        {% for produit in produit %}
        <div class="col-md-6 col-lg-3">
            <a href="{{ {'id': produit.id}) }}" class="text-decoration-none">
                <div class="card h-100 shadow-sm border-0 rounded-4 hover-shadow">
                    <img src="{{ asset('images/' ~ produit.photo) }}" class="card-img-top rounded-top-4" alt="{{ produit.nom }}">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ produit.nom }}</h5>
                          <p class="card-text text-muted small">{{ produit.descrptionlong|length > 80 ? produit.descrptionlong[:80] ~ '...' : produit.descrptionlong }}</p>
                          <p class="fw-bold ">{{ produit.prix }} €</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<style>


.hero-bg{
  min-height: 90vh;
  background-image: url("/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-bg::before{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(0,0,0,.55);
}

.hero-bg .container{
  position: relative;
  z-index: 1;
}

</style>


{% endblock %}
